{% extends "base.html" %}
{% block content %}

<div class="container mt-5 pt-4">
    {% if message %}
        <div class="alert alert-{{class}}">
            {{message}}
        </div>
        {% endif %}
    <div class="col-6 mx-auto">
        
        <h3 class="text-center">Enter your mobile number</h3>

        <form class="mt-2" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-12 mt-3">
                    <input type="text" placeholder="Enter Mobile Number" class="form-control" name="mobile" id="">
                </div>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>


{% endblock %}