asgiref==3.3.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.4.6
Django==3.1.7
django-extensions==3.1.1
django-pwa==1.0.10
django-sslserver==0.22
gTTS==2.2.2
idna==2.10
pycparser==2.20
PyMySQL==1.0.2
pyOpenSSL==20.0.1
pytz==2021.1
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.4
Werkzeug==1.0.1
